
/* food card*/
.card-body p{
    line-height: 1.5em;
    height: 2.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}


/*--------------------------*/

.tag{
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 20px;
}
